# /etc/systemd/system/pydoor.service
[Unit]
Description=pydoor
After=network.target

[Service]
User=door
Group=door
WorkingDirectory=/opt/pydoor
EnvironmentFile=/etc/default/pydoor.env
Environment=VIRTUAL_ENV="/opt/pydoor/venv"
Environment=PATH="/opt/pydoor/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/pydoor/venv/bin/gunicorn -w 1 -b 127.0.0.1:8195 pydoor:app
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
